.about {
    display: flex;
    padding: 0;
 
    &__card {
       flex-basis: 33.3%;
       height: 73.2rem;
 
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
 
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       row-gap: 3rem;
 
       &-title {
          font-weight: 400;
          font-size: 4.8rem;
       }
    }
 
    &__card1 {
       background-image: url(../img/about/card1.jpg);
    }
    &__card2 {
       background-image: url(../img/about/card2.jpg);
    }
    &__card3 {
       background-image: url(../img/about/card3.jpg);
    }
 }