.needs {
    background: url(../img/needs/bg.jpg) center no-repeat;
    background-size: cover;
 
    &__titles {
       text-align: center;
       max-width: 71.5rem;
       margin-inline: auto;
    }
 
    &__inner {
       display: flex;
       flex-wrap: wrap;
       gap: 3.2rem;
       justify-content: center;
    }
 
    &__card {
       max-width: 585px;
 
       background: rgba(255, 255, 255, 0.15);
       border-radius: 20px;
 
       padding: 3.5rem;
       padding-left: 8rem;
       
       &-title {
          font-weight: 400;
          font-size: 3.2rem;
          text-transform: capitalize;
 
          margin-bottom: 2rem;
 
          position: relative;
          &::before {
             content: '';
             position: absolute;
             width: 3rem;
             height: 3rem;
             background: url(../img/needs/card-icon.png) center center no-repeat;
 
             top: 50%;
             left: -4.5rem;
             transform: translateY(-50%);
          }
       }
       
       &-text {
          color: $gray2-color;
          opacity: 0.8;
          font-size: 1.8rem;
          line-height: 1.56;
       }
    }
 }