$orbitron-font: 'Orbitron', sans-serif;
$roboto-font: 'Roboto', sans-serif;

// COLORS
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #999999;
$gray2-color: #DFDFDF;
$gray3-color: #555555;
$blue-color: #57B8FF;
$nav-hover-color: #FAC422;